.board {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.game-area {
    display: flex;
    justify-content: space-around;
}

.square {
    width: 30px;
    height: 30px;
}

.enemy.square-h {
    background-color: green;
}

.enemy.square-m {
    background-color: red;
}

.friendly.square-s {
    background-color: green;
}

.friendly.square-h {
    background-color: red;
}

.friendly.square-m {
    background-color: blue;
}